h1,
article {
  font-size: $small;
  font-weight: bolder;
  width: 200px;

  font-weight: bolder;
}

p {
  font-size: $tiny;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
}

.card-text,
a,
h1,
aside,
article {
  font-family: $primary-font;
}
